:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --secondaryy: #202b41;
  --primaryy: #1d2537;
  --pink: #ff498c;
}

.App {
  text-align: center;
  /* overflow-y: hidden; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Laning page css goes here */
.landing_header {
  height: calc(1.7vh + 1.7vw + 1vmin);
  background: #1d2537;
  position: relative;
  display: flex;
}
.landing_main {
  height: calc(100vh - (1.7vh + 1.7vw + 1vmin));
  background: #202b41;
  display: flex;

  flex-direction: row;
}
.landing_main_names {
  flex-grow: 2;
  /* background: yellow; */
  border-right: 1.5px solid #1d2537 !important;
}
.landing_main_chats {
  flex-grow: 4;
  /* background: green; */
  border-right: 1.5px solid #1d2537 !important;
}
.landing_main_details {
  flex-grow: 2;
  z-index: 30;
}
.landing_header_left {
  flex-grow: 4;
}
.landing_header_right {
  display: flex;
  flex-grow: 1;
}
.landing_header_right_name {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 17px;
  margin-top: 0.8%;
  position: absolute;
  right: 4%;
}
.landing_header_right_avatar {
}
.landing_header_right_avatar_image {
  border-radius: 100%;
  height: calc(1vh + 1vw + 1vmin);
  position: absolute;
  right: 11.5%;
  top: 15%;
}

.down-chevron {
  color: #fff;
  position: absolute;
  right: 2.3%;
  top: 35%;
}
.landing_main_names_info {
  position: relative;
  top: 0;
  height: calc(2.2vh + 2.2vw + 1vmin);
  /* background: tomato; */
  display: flex;
}
.landing_main_names_info_left {
  /* display: flex; */
  flex-grow: 3;
}
.landing_main_names_info_right {
  /* display: flex; */
  flex-grow: 2;
  /* background: blue; */
}
.landing_main_names_info_left_avatar {
  border-radius: 100%;
  height: calc(1.3vh + 1.3vw + 1vmin);
  position: absolute;
  left: 2%;
  top: 15%;
}
.landing_main_names_info_left_chat {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 5%;
  top: 27%;
  font-weight: 500;
  color: #fff;
  font-size: 24px;
}
.landing_main_names_info_right_gear {
  font-size: calc(0.7vh + 0.7vw + 0.5vmin);
  position: absolute;
  right: 20%;
  top: 27%;
  color: #fff;
}
.landing_main_names_info_right_new {
  font-size: calc(0.7vh + 0.7vw + 0.5vmin);
  position: absolute;
  right: 6%;
  top: 27%;
  color: #fff;
}
.landing_main_names_search_div {
  display: flex;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 1%;
  background: var(--secondaryy);
  border: 1px solid #3f4b5f;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 23%;
  border-radius: 5px;
  margin-top: 0.5%;
}
.filter_chats {
  position: absolute;
  color: #fff;
  display: flex;
  margin-top: 3.5%;
  flex-direction: row;
  width: 25%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.down-chevron1 {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.1px white;
}
.recent_chat_filter {
  flex-grow: 1;
  position: absolute;
  left: 5%;
  font-weight: 400;
}
.new_chat_filter {
  flex-grow: 1;
  position: absolute;
  right: 6%;
  font-weight: 400;
  font-weight: 400;
}
.landing_main_names_search {
  border: 0px !important;
  width: 145%;
  background: transparent;
  color: #949ba4;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.landing_main_names_search_icon {
  color: #949ba4;
  line-height: 3.5vh;
  font-size: 18px;
  font-weight: 400;
  margin-left: 5px;
  margin-right: 5px;
}

.landing_main_names_search::placeholder {
  color: rgb(115, 123, 141);
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.landing_main_chat_show {
  position: absolute;
  /* background: tomato; */
  width: 25%;
  top: 20%;
  height: 80%;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: inherit;
}
.landing_main_chat_list {
  display: block;
  /* list-style: none; */
  position: absolute !important;
  height: auto;
  width: 100%;
  margin-left: -5%;
  line-height: inherit;
}
.landing_main_chat_list_item {
  height: 11%;
  width: 100%;
  list-style-type: none;
  position: relative;
  /* left: -5%; */
  /* margin: 0 auto; */
  /* margin-left: 0 !important; */
  margin-top: 9%;
  line-height: inherit;
}
.landing_main_chat_list_item_div {
  display: flex;
  width: 93%;
  margin: 0 auto;
  background: #1d2537;
  height: 100%;
  border-radius: 5px;
  line-height: inherit;
  margin-top: 10px;
  word-wrap: break-word;
  /* display: flex;
  flex-direction: column;
  background-clip: border-box; */
}
.landing_main_chat_list_item_div:nth-child(3) {
  background-color: #ff498c;
}

.landing_main_chat_list_item_div:nth-child(3)
  > .landing_main_chat_list_item_div_details
  > h7 {
  color: #fff !important;
}

.landing_main_chat_list_item_div_avatar {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.landing_main_chat_list_item_div_avatar:after {
  content: "";
  position: absolute;
  top: 1.5vh;
  right: 0;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  background: #2ecc71;
}
.landing_main_chat_list_item_div_details_settings {
  color: #394153;
  position: absolute;
  right: 0;
  top: 0.5vh;
  font-size: 23px;
}

.landing_main_chat_list_item_div_avatar {
  flex-grow: 2;
  position: absolute;
}
.landing_main_chat_list_item_div_avatar_image {
  /* position: absolute; */
  border-radius: 100%;
  height: calc(1.8vh + 1.8vw + 1vmin);
  margin-top: 1.3vh;
  padding-left: 10px;
  width: calc(2.2vh + 2.2vw + 1vmin);
}
.landing_main_chat_list_item_div_details {
  flex-grow: 3;
  margin-left: 3%;
  text-align: left;
  position: absolute;
  left: 20%;
  width: 70%;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 20;
  word-wrap: break-word;
}
.landing_main_chat_list_item_div_details_name {
  font-family: "Roboto", sans-serif;
  color: #fff;
  line-height: 0.7;
  /* flex: 1 1 0%; */
  min-width: 0;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  word-wrap: break-word;
}
.landing_main_chat_list_item_div_details_content {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #949ba4;
  word-wrap: break-word;
}

/* person detail css goes here */
.p2p {
  width: 25%;
  position: absolute;
  z-index: 20;
}

.profile_card {
  position: absolute;
  width: 73%;
  margin: 0 auto;
  margin-top: 10%;
  background-color: var(--primaryy) !important;
  z-index: 20;
}
.profile_card_image {
  border-radius: 100%;
  height: calc(3vh + 3vw + 2vmin) !important;
  width: calc(3.5vh + 3.5vw + 2vmin) !important;
  margin: 0 auto;
  border-top-left-radius: calc(14rem - 1px) !important;
  border-top-right-radius: calc(7rem - 1px) !important;
  border-bottom-right-radius: calc(10rem - 1px) !important;
  margin-top: 25px;
}
.profile_card_body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fff;
}
.profile_card_body > h5 {
  font-weight: 600;
}
.profile_card_body > p {
  color: #818794;
}

.options_toggle_div {
  word-wrap: break-word;
}

#options_toggle {
  position: absolute;
  display: none;
}

#options_toggle + label {
  position: absolute;
  cursor: pointer;
  padding: 10px;
  background: var(--primaryy);
  width: 100px;
  border-radius: 2px;
  padding: 8px 10px;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  /* margin: 20px 50px; */
  margin: 0 auto;
  width: 73%;
  left: 13.5%;
  transition: all 500ms ease;
  margin-top: 5%;
  text-align: left;
  padding-left: 10px;
  z-index: 20;
}
#options_toggle + label:after {
  content: "Personal Information";
  font-size: 16px;
  text-align: left;
  padding-left: 5px;
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
}
/* #options_toggle:checked ~ .p2p_options {
  margin-top: 15%;
  z-index: 10;
}

#options_toggle:checked ~ .p2p_options {
  visibility: visible;
  transition: 0.1s all ease;
}

#options_toggle:checked ~ .profile_card {
  margin-top: 0;
}
#options_toggle:checked ~ .privacy_toggle_label {
  margin-top: 32vh;
  z-index: 6;
} */

#options_toggle:checked + label {
  background: var(--pink);
  line-height: 2rem;
}

#options_toggle:checked + label:after {
  content: "Close";
  line-height: 2rem;
}
.down-chevron-2 {
  color: #fff;
  position: absolute;
  /* right: 0; */
  margin-top: 8%;
  right: 18%;
  z-index: 30;
}
.p2p_options {
  height: 23vh;
  width: 73%;
  background: var(--primaryy);
  margin: 0 auto;
  margin-top: 15%;
  position: absolute;
  /* transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94); */
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;
  /* transition: 0.1s all ease; */
  left: 13.5%;
  word-wrap: break-word;
  background-clip: border-box;
  display: none;
}
.p2p {
  z-index: 20;
}
.p2p_options_content_friends_icon_i {
  color: #fff;
  z-index: 30;
  flex-grow: 1;
  position: absolute;
  left: 12%;
  font-size: 1.2rem;
  line-height: 1.2;
}
.p2p_options_content_friends_since {
  flex-grow: 1;
  color: #fff;
  position: absolute;
  left: 22%;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  word-wrap: break-word;
  table-layout: fixed;
  flex-direction: column;
  background-clip: border-box;
  max-width: 70%;
  line-height: 1.2;
  font-size: 1em;
}
.p2p_options_content {
  display: flex;
  margin-top: 15%;
  margin-bottom: 3rem;
  word-wrap: break-word;
  line-height: 1.2;
}
.lala {
  margin-top: 20%;
  position: absolute;
  z-index: 40;
}
.header_notification {
  color: #fff;
  font-size: calc(0.6vh + 0.6vw + 1vmin);
  /* line-height: 3.2rem; */
  top: 25%;
  position: absolute;
  right: 16vw;
}

/* User authentication css goes here */
.register {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.register_details {
  background: #1d2537;
  height: 100vh;
}
.register_background {
  background: #202b41;
  height: 100vh;
}
.register_details_heading {
  color: #fff;
  font-size: calc(1.8vw + 1.8vh + 1.5vmin);
  text-align: center;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  margin-top: 10%;
}
.register_details_subheading {
  color: #a2a9b9;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: calc(0.6vw + 0.6vh + 0.8vmin);
  margin-top: 4%;
  letter-spacing: 0.08rem;
}
.register_details_inputs {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}
.register_details_submit_button {
  width: 100%;
  margin-top: 4%;
  font-family: "Open Sans", sans-serif;
  border-radius: 1rem !important;
  line-height: calc(1.1vw + 1.1vh + 1vmin) !important;
  background: #056bd9 !important;
}
.form-label {
  margin-bottom: 2%;
  color: #9299a7 !important;
}
.input_common {
  background: #202b41 !important;
  border: 0px !important;
  color: #fff !important;
  font-family: "Open Sans", sans-serif;
  font-size: calc(0.5vw + 0.5vh + 0.4vmin) !important;
  height: calc(1.6vw + 1.6vh + 1.8vmin) !important;
}
.input_common::placeholder {
  color: #a2a9b9 !important;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.login_details_extra_details {
  display: flex;
  margin-bottom: 4%;
}
.checkbox_label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem !important;
  color: #fff;
  margin-top: 1% !important;
  margin-bottom: 1% !important;
}
.login_details_checkbox {
  flex-grow: 1;
  margin-top: 4%;
}
.login_details_forgot {
  color: #056bd9;
  font-family: "Montserrat", sans-serif;
  flex-grow: 1;
  position: relative;
  right: -12%;
  margin-top: 4%;
  cursor: pointer;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 20;
  word-wrap: break-word;
}
.register_details_google {
  margin-top: 7%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  border-radius: 1rem !important;
  line-height: calc(1.1vw + 1.1vh + 1vmin) !important;
  background: transparent !important;
  border: 2px solid #056bd9;
  color: #056bd9 !important;
  font-weight: 600 !important;
  font-size: calc(0.55vw + 0.55vh + 0.6vmin) !important;
}
.register_details_google_icon {
  height: calc(0.8vh + 0.8vw + 0.8vmin);
  position: absolute;
  left: 32%;
  margin-top: 0.5%;
}
.register_details_google2 {
  margin-top: 6% !important;
}
